
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: black solid 1px;
    width: 15vw;
    font-size: 1vw;
}

#navbarHorizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 1px;
    height: 10vh; 
}



#umaineLogo{
    width: 10vw;
    height: 10vh;
}

#tabManagerLeftHandContent{
    width: 15vw;
    height: 100vh;
}


#tabManagerRightHandContent{
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar-logo{
    background: var(--color-secondary);
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    background-color: white;
}

.siteContent{
    height: 90vh;
    width: 85vw;

    background-color: var(--color-background);
}

#wholeSite{
    display: flex;
    justify-content: space-between;
}





#navbarSeparatorLine{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.selectorIcons{
    width: 6vh;
    height: 60%;
    color: var(--color-secondary-dark);
    
}

.selectedTab{
    color: var(--text-color);
    
}

#tabSelectionVertical{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    width: 15vw;
    background-color: var(--color-secondary);
    padding-left: 2vw;
}

#tabSelectionHorizontal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 85vw;
    background-color: var(--color-secondary);
}